In [1]:
%%time
import datatable as dt
train = dt.fread("../data/train.csv")
test = dt.fread("../data/test.csv")
train.head()

CPU times: user 31.3 s, sys: 10.4 s, total: 41.7 s
Wall time: 55.4 s

In [4]:
import pandas as pd
train = pd.read_csv("../data/test.csv")
test = pd.read_csv("../data/test.csv")
train.head()

   game_id  time  player species              event             event_contents
0    38872  0.00       0       P             Camera     at (22.25, 81.5078125)
1    38872  0.00       1       P             Camera  at (120.25, 153.83984375)
2    38872  0.01       1       P          Selection        ['Nexus [3100001]']
3    38872  0.01       1       P            Ability        (15E0) - TrainProbe
4    38872  0.01       1       P  AddToControlGroup                        NaN

In [ ]:
import pyarrow.parquet as pq
from pyarrow import csv

pq.write_table(csv.read_csv('../data/train.csv'), '../data/train.parquet')
pq.write_table(csv.read_csv('../data/test.csv'), '../data/test.parquet')